In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dog_data = pd.read_csv('dog_rates_tweets.csv', parse_dates=[1])
dog_data

,id,created_at,text
0,994677639364403200,2018-05-10 20:36:44,@Steff88979267 tell them to h*ck off
1,994364904978239488,2018-05-09 23:54:02,@NFLOwnerGBP take it back
2,994363623421153280,2018-05-09 23:48:56,This is Louie. He has misplaced his Cheerio. W...
3,994336722875047936,2018-05-09 22:02:03,@rachaellanaghan ❤️
4,994024065982717952,2018-05-09 01:19:40,This is Captain Jack Wobbles. He is currently ...
...,...,...,...
8510,1027980978910687233,2018-08-10 18:12:18,@GregWWoods thanks for donating $10.00 to @dog...
8511,1027976875811819520,2018-08-10 17:56:00,@DiannaC thanks for donating $10.00 to @dog_ra...
8512,1027970381766963202,2018-08-10 17:30:12,@runnjen @livelikeroo @Goodworld omg Justice y...
8513,1027967697684815873,2018-08-10 17:19:32,@shelbymorganart thanks for donating $10.00 to...
8514,1027963039029452800,2018-08-10 17:01:01,@xo_taylernicole thanks for donating to @dog_r...

In [3]:
rating_data = dog_data['text'].str.extract(r'(\d+(\.\d+)?)/10')
rating_data = rating_data[0].astype(float)
rating_data = rating_data.dropna()
rating_data = rating_data[rating_data<=25]
rating_data

2       14.0
7       13.0
8       14.0
24      13.0
30      13.0
        ...
7363    14.0
7369    14.0
7381    13.0
7431    14.0
7433    13.0
Name: 0, Length: 1669, dtype: float64

In [ ]:
dog_